

<div id="my_main" class="headdown my_sticky">        
    <div class="row clearfix">
      <nav>
        <ul class="sf-menu">
        <% 
          Refinery::Page.where("show_in_menu != ?",false).order("lft ASC").each do |page| %>
            <% if @page != nil and page.path == @page.path %>
              <li class="selectedLava">
            <% else %>
              <li>
            <% end %>
            <%= link_to page.path, refinery.url_for(page.url) %>
            <% if page.slug == "products" or page.slug == "продукция"%>
              <ul>  
              <% make_type_list.each do |key,value| %>
                <li>
                  <a href="<%= url_for_type("make",key.to_s) %>"> <%= value %> </a>
                </li>
              <% end %>
              </ul> 
            <% elsif page.slug == "factories" or page.slug == "заводы" %>
              <ul>
              <% Refinery::Factories::Factory.all.each do |factory| %>
                <li>
                  <%= link_to factory.name, url_for_factory(factory) %>
                </li>
              <% end %>
              </ul>
            <% end %>
            </li>
          <% end %>
        </ul><!-- end menu -->
      </nav><!-- end nav -->
    </div><!-- row -->
</div>


<div id="bg-wrap" class="sliderr parallax">
  <ul id="co-slider" class="co-slider" >
  <% @first = true %>  
  <% Refinery::Volumes::Volume.where("used_in_home = ?", true) .each do |volume| %>
    <% 
      if @first == true 
        @display = "style=display:block;"
        @first = false
      else 
        @display = ""
      end
    %>
    <li class="co-item" <%= @display %>>
        <div class="co-circle" style="background-image: url(<%= volume.pic.thumbnail("300x300").url %>);">      
          <div class="co-info-wrap">
            <div class="co-info">
              <div class="co-info-front" style="background-image: url(<%= volume.pic.thumbnail("300x300").url %>);"></div>
              <div class="co-info-back">
                <a href="<%= url_for_product(volume.product) %>"><%= home_list[:view] %></a>
                <a href="#" class="co-next"><%= home_list[:img] %></a>
              </div>  
            </div>
          </div>
        </div>
        <div class="co-shadow"></div>
        <div class="co-title"><h3><%= volume.product.name %></h3></div>
        <a class="co-link" href="<%= url_for_product(volume.product) %>"><%= home_list[:view] %> <i class="mii icon-angle-right"></i></a>
      </li>
  <% end %>
    <nav id="circle-switcher">
      <a href="#" class="co-prev">Previous</a>
      <a href="#" class="co-next">Next</a>
    </nav>
  </ul>
</div>

</div>
