<div id="bg-wrap" class="sliderr parallax">
  <ul id="co-slider" class="co-slider" >
  <% @first = true %>  
  <% Refinery::Volumes::Volume.where("used_in_home = ?", true) .each do |volume| %>
    <% 
      if @first == true 
        @display = "style=display:block;"
        @first = false
      else 
        @display = ""
      end
    %>
    <li class="co-item" <%= @display %>>
        <div class="co-circle" style="background-image: url(<%= volume.pic.thumbnail("300x300").url %>);">      
          <div class="co-info-wrap">
            <div class="co-info">
              <div class="co-info-front" style="background-image: url(<%= volume.pic.thumbnail("300x300").url %>);"></div>
              <div class="co-info-back">
                <a href="<%= url_for_product(volume.product) %>"><%= home_list[:view] %></a>
                <a href="#" class="co-next"><%= home_list[:img] %></a>
              </div>  
            </div>
          </div>
        </div>
        <div class="co-shadow"></div>
        <div class="co-title"><h3><%= volume.product.name %></h3></div>
        <a class="co-link" href="<%= url_for_product(volume.product) %>"><%= home_list[:view] %> <i class="mii icon-angle-right"></i></a>
      </li>
  <% end %>
    <nav id="circle-switcher">
      <a href="#" class="co-prev">Previous</a>
      <a href="#" class="co-next">Next</a>
    </nav>
  </ul>
</div>
