<div class="head">
  <div class="row">
    <div class="logo" id="logo">
      <img src="<%= image_path('logo.png') %>" alt="Official - Premium Multi-purpose HTML5 Template">
    </div><!-- end logo -->
  </div><!-- row -->
</div><!-- head -->

<div class="headdown my_sticky">        
    <div class="row clearfix">
          <nav>
            <ul class="sf-menu">
              <% Refinery::Page.where("show_in_menu != ?",false).order("lft ASC").each do |page| %>
                <% if page.path == @page.path %>
                  <li class="selectedLava">
                <% else %>
                  <li>
                <% end %>
                <% if page.slug == "products" %>
                  <%= link_to Refinery::Page.find('products').path, Refinery::Page.find('products').url %>
                  <ul>  
                  <% which_make_type_list.each do |key,value| %>
                    <li>
                      <%= link_to value, page.url, :make => key %>  
                    </li>
                  <% end %>
                  </ul> 
                <% else %>
                  <%= "link_to page.path, page.url" %>
                <% end %>
                </li>
              <% end %>
              <li>
                <%= link_for_lang %>
              </li>
            </ul><!-- end menu -->
          </nav><!-- end nav -->
        </div><!-- row -->
</div>