<div class="head">
  <div class="row">
    <div class="logo" id="logo">
      <img src="<%= image_path('logo.png') %>" alt="Official - Premium Multi-purpose HTML5 Template">
    </div><!-- end logo -->
  </div><!-- row -->
</div><!-- head -->

<div class="headdown my_sticky">        
    <div class="row clearfix">
          <nav>
            <ul class="sf-menu">
              <% # coding: utf-8 
              Refinery::Page.where("show_in_menu != ?",false).order("lft ASC").each do |page| %>
                <% if page.path == @page.path %>
                  <li class="selectedLava">
                <% else %>
                  <li>
                <% end %>
                <% if page.slug == "products" or page.slug == "продукция"%>
                  <%= link_to get_products.path, get_products.url %>
                  <ul>  
                  <% make_type_list.each do |key,value| %>
                    <li>
                      <%= link_to value, refinery.url_for(page.url), :make => "key" %>  
                    </li>
                  <% end %>
                  </ul> 
                <% else %>
                  <%= link_to page.path, refinery.url_for(page.url) %>
                <% end %>
                </li>
              <% end %>
              <li>
                <%= link_for_lang %>
              </li>
            </ul><!-- end menu -->
          </nav><!-- end nav -->
        </div><!-- row -->
</div>