
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- Seo Meta -->
    <meta name="description" content="Official - Premium Multi-purpose HTML5 Template">
    <meta name="keywords" content="official, corporate, light, dark, themeforest, multi purpose, shop, magazine, premium">

  <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/icons.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/animate.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css" media="screen" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'> -->
    <style>
    </style><!-- Custom Styles -->

  <!-- Circular -->
    <link rel="stylesheet" type="text/css" href="/styles/circular/circular.css" />
    <script type="text/javascript" src="/js/modernizr.custom.79639.js"></script> 
    <noscript><link rel="stylesheet" type="text/css" href="/styles/circular/noJS.css" /></noscript>

  <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.html">

  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EmulateIE8; IE=EDGE" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script language="javascript" type="text/javascript" src="/js/excanvas.min.js"></script>
  <![endif]-->

<meta charset='<%= Rails.application.config.encoding %>' />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<title><%= browser_title(yield(:title)) %></title>

<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>

<%= yield :stylesheets %>


